<?xml version='1.0' encoding='utf-8'?>
<widget id="com.classic.car.game" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Classic Car Game</name>
    <description>
        El antiguo y más clásico juego de un auto esquivando a otros
    </description>
    <author>
        Edson Pacompía Ortiz
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-device-motion"/>
</widget>
